{% extends 'base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block head %}{% endblock %}

{% block content %}
<div class="row">
  <div class="col-lg-4 offset-lg-4 col-md-6 offset-md-3 col-sm-8 offset-sm-2 col-12">
    <div class="page-header">
      <h1 class="text-wrap text-sm-nowrap text-md-nowrap text-lg-nowrap">{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>
    </div>

    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
    {% else %}
        {% if form %}
        <form method="post" action="{{ action_url }}">
            {% csrf_token %}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
        
            <div class="form-group ">
                {{ form.password1|as_crispy_field }}{{form.password1.errors}}
                {{ form.password2|as_crispy_field }}{{form.password2.errors}}
                
                {% for error in form.non_field_errors %}
                <h2 class="h5 mb-3 font-weight-normal" style="color:red">{{ error }}</h2>
                {% endfor %}
                <button class="btn btn-lg btn-primary btn-block" type="submit">{% trans 'change password' %}</button>
            </div>
        </form>
        {% else %}
            <p>{% trans 'Your password is now changed.' %}</p>
        {% endif %}
    {% endif %}
  </div>
</div>
{% endblock %}
